.popup_dialog_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #33333342;
    z-index: 99;
}

.popup_dialog_container .dialog{
    width: 50%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    margin-top: 10%;
    max-height: 80%;
    box-shadow: 0 0 2px 2px #33333314;
    font-family: sans-serif;
    color: #666;
}

.popup_dialog_container .dialog hr{
    margin-top: 15px;
    margin-bottom: 15px;
    border:none;
    border-bottom: 1px solid #ececec;
}

.popup_dialog_container .dialog .title{
    font-weight: 600;
}

.popup_dialog_container .dialog input{
    padding: 7px;
    margin-top: 5px;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.popup_dialog_container .dialog .options{
    margin-top: 25px;
    text-align: center;
}

.popup_dialog_container .dialog .options .item,
.popup_dialog_container .dialog .options .btn {
    margin-right: 5px;
    display: inline-block;
    background: #e4e4e4;
    padding: 5px 7px;
    font-size: 0.9em;
    border-radius: 5px;
    cursor: pointer;

}

.popup_dialog_container .dialog .options .item:hover,
.popup_dialog_container .dialog .options .btn:hover{
    background: #ddd;
}

.popup_dialog_container .dialog input{
    border: 1px solid #eee;
    background-color: #fff;
}